<section class="certificates" id="certificates">
  <div class="container">
    <h2 class="title2 certificates__title">Сертификаты и документация</h2>
    <div class="certificates__content">
      <div class="certificates__list">
        <a class="certificates__item" href="" target="_blank" rel="noopener">
          <span class="certificates__image">
            <img src="./img/serts/01.jpg" alt="Сертификат соответствия системы менеджмента качества" />
          </span>
          <span class="certificates__name">
            Сертификат соответствия сертификации Системы менеджмента качества КНР
          </span>
        </a>
        <a class="certificates__item" href="" target="_blank" rel="noopener">
          <span class="certificates__image">
            <img src="./img/serts/02.jpg" alt="Декларация о соответствии" />
          </span>
          <span class="certificates__name">
            Декларация о соответствии ГОСТ 32314-2012 Р1
          </span>
        </a>
        <a class="certificates__item" href="" target="_blank" rel="noopener">
          <span class="certificates__image">
            <img src="./img/serts/03.jpg" alt="Протокол испытаний плиты" />
          </span>
          <span class="certificates__name">
            Протокол испытаний плиты ППБ-282/10-2024 от 07.10.2024 Р-1
          </span>
        </a>
        <a class="certificates__item" href="" target="_blank" rel="noopener">
          <span class="certificates__image">
            <img src="./img/serts/04.jpg" alt="Сертификат UDEM" />
          </span>
          <span class="certificates__name">Сертификат UDEM КНР</span>
        </a>
        <a class="certificates__item" href="" target="_blank" rel="noopener">
          <span class="certificates__image">
            <img src="./img/serts/05.jpg" alt="Сертификат пожарной безопасности" />
          </span>
          <span class="certificates__name">
            Сертификат соответствия требованиям пожарной безопасности КНР-1
          </span>
        </a>
        <a class="certificates__item" href="" target="_blank" rel="noopener">
          <span class="certificates__image">
            <img src="./img/serts/06.jpg" alt="Сертификат соответствия требованиям пожарной безопасности" />
          </span>
          <span class="certificates__name">
            Сертификат соответствия требованиям пожарной безопасности Р1-1
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
