<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="./" class="header__logo logo">
        <img src="./img/logo.svg" alt="" />
      </a>
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#products" class="nav__link">Технические характеристики</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a href="tel:89089888869" class="header__tel">8 908 9 8888 69</a>
        <button class="btn btn--stroke btn-reset header__btn modal-btn">
          <span>Оставить заявку</span>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="modal">
  <div class="modal__body">
    <div class="modal__header">
      <div class="modal__title">Заказать звонок</div>
      <div class="modal__close">
        <svg
          width="44"
          height="43"
          viewBox="0 0 44 43"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 1.5L42 41.5M42 1.5L2 41.5"
            stroke="black"
            stroke-width="4"
          />
        </svg>
      </div>
    </div>
    <form action="#" class="modal__form form modal-form">
      <label class="form__label">
        <input
          type="text"
          placeholder="Укажите ваше имя"
          name="Имя"
          class="form__input input-name"
        />
      </label>
      <label class="form__label">
        <input
          type="tel"
          placeholder="Ваш контактный телефон"
          name="Телефон"
          class="form__input input-tel"
        />
      </label>
      <button class="btn btn-reset form__btn">
        <span>Оставить заявку</span>
      </button>
      <small class="form__agree">
        Нажимая кнопку «Отправить заявку», вы соглашаетесь
        <a href="#">с политикой обработки персональных данных</a>
      </small>
    </form>
  </div>
</div>
