<section class="partners">
  <div class="container">
    <h2 class="title2 partners__title">Партнеры</h2>
    <div class="partners__container">
      <div class="partners__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/partners/imago.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/sber.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/megaplan.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/ecotech.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/house.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/bank.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/vtb.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/maxwater.svg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/partners/sdelki.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
