<section class="products" id="specs">
  <div class="container">
    <h2 class="title2 products__title">
      Серии продукции ВармоЩит<sup>®</sup>
    </h2>

    <div class="products__slider swiper">
      <div class="products__tabs swiper-wrapper">
        <button type="button" class="btn-reset products__tab swiper-slide">
          Вармо
        </button>
        <button type="button" class="btn-reset products__tab swiper-slide">
          СтеклоВармо
        </button>
        <button type="button" class="btn-reset products__tab swiper-slide">
          ЭкоВармо
        </button>
      </div>
    </div>

    <div class="products__slider-content swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="products__content prod">
            <div class="prod__image">
              <img src="./img/products/010.webp" alt="Теплоизоляция Вармо" />
            </div>
            <div class="prod__info">
              <h3 class="prod__title">Характеристики</h3>
              <dl class="prod__list">
                <div class="prod__characteristic">
                  <dt>Материал</dt>
                  <dd>Базальтовое волокно</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Плотность, кг/м³</dt>
                  <dd>от 60</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Теплопроводность при 10°С, Вт/м·°К</dt>
                  <dd>0,035</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Группа горючести</dt>
                  <dd>НГ</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Назначение</dt>
                  <dd>
                    Для вентилируемых фасадов, нагружаемых и ненагружаемых
                    конструкций, эксплуатируемых крыш и мокрых фасадов.
                  </dd>
                </div>
              </dl>
              <button type="button" class="btn-reset prod__comparison" data-comparison-modal="varmo">
                Смотреть сравнительную таблицу
              </button>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="products__content prod">
            <div class="prod__image prod__image_scale">
              <img src="./img/products/011.webp" alt="Теплоизоляция СтеклоВармо" />
            </div>
            <div class="prod__info">
              <h3 class="prod__title">Характеристики</h3>
              <dl class="prod__list">
                <div class="prod__characteristic">
                  <dt>Материал</dt>
                  <dd>Стекловолокно</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Плотность, кг/м³</dt>
                  <dd>10–16</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Теплопроводность, Вт/м·°К</dt>
                  <dd>0,040–0,045</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Группа горючести</dt>
                  <dd>НГ/Г1 в зависимости от марки</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Назначение</dt>
                  <dd>
                    Для стен, перегородок и перекрытий в малоэтажном и каркасном
                    строительстве.
                  </dd>
                </div>
              </dl>
              <button type="button" class="btn-reset prod__comparison" data-comparison-modal="steklovarmo">
                Смотреть сравнительную таблицу
              </button>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="products__content prod">
            <div class="prod__image">
              <img src="./img/products/012.webp" alt="Теплоизоляция ЭкоВармо" />
            </div>
            <div class="prod__info">
              <h3 class="prod__title">Характеристики</h3>
              <dl class="prod__list">
                <div class="prod__characteristic">
                  <dt>Материал</dt>
                  <dd>Экологичное стекловолокно</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Состав</dt>
                  <dd>Без формальдегидов и агрессивных летучих соединений</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Формат</dt>
                  <dd>Плиты</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Безопасность</dt>
                  <dd>Подходит для жилых и общественных помещений</dd>
                </div>
                <div class="prod__characteristic">
                  <dt>Назначение</dt>
                  <dd>
                    Для объектов с высокими требованиями к экологичности, включая
                    детские, медицинские и образовательные учреждения.
                  </dd>
                </div>
              </dl>
              <button type="button" class="btn-reset prod__comparison" data-comparison-modal="ekovarmo">
                Смотреть сравнительную таблицу
              </button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
