<section class="projects" id="projects">
  <div class="container">
    <h2 class="title2 projects__title">
      Проекты, где уже применен наш утеплитель
    </h2>

    <div class="projects__slider swiper">
      <div class="swiper-wrapper">
        <article class="projects__slide project-card swiper-slide">
          <div class="project-card__img">
            <img src="./img/projects/01.webp" alt="Аэропорт Дасин" />
          </div>
          <div class="project-card__content">
            <h3 class="project-card__title">Аэропорт Дасин</h3>
            <button
              type="button"
              class="btn-reset project-card__btn"
              data-project-modal="daxing"
            >
              Подробнее
            </button>
          </div>
        </article>

        <article class="projects__slide project-card swiper-slide">
          <div class="project-card__img">
            <img src="./img/projects/02.webp" alt="АЭС в Пекине" />
          </div>
          <div class="project-card__content">
            <h3 class="project-card__title">АЭС в Пекине</h3>
            <button
              type="button"
              class="btn-reset project-card__btn"
              data-project-modal="beijing-npp"
            >
              Подробнее
            </button>
          </div>
        </article>

        <article class="projects__slide project-card swiper-slide">
          <div class="project-card__img">
            <img src="./img/projects/03.webp" alt="Детский сад" />
          </div>
          <div class="project-card__content">
            <h3 class="project-card__title">Детский сад</h3>
            <button
              type="button"
              class="btn-reset project-card__btn"
              data-project-modal="kindergarten"
            >
              Подробнее
            </button>
          </div>
        </article>

        <article class="projects__slide project-card swiper-slide">
          <div class="project-card__img">
            <img src="./img/projects/04.webp" alt="Торговый комплекс" />
          </div>
          <div class="project-card__content">
            <h3 class="project-card__title">Торговый комплекс</h3>
            <button
              type="button"
              class="btn-reset project-card__btn"
              data-project-modal="shopping-center"
            >
              Подробнее
            </button>
          </div>
        </article>


      </div>
    </div>
  </div>
</section>
